
<!-- You can now use your library component in app.component.html -->

<!-- <app-image-viewer [images]="['https://images.nga.gov/en/web_images/niagara2.jpg']" [idContainer]="'idOnHTML'"
    [loadOnInit]="true"></app-image-viewer> -->


<app-image-viewer 
[images]=
"['http://localhost:4200/assets/images/jpeg1.jpg',
'http://localhost:4200/assets/images/jpeg2.jpg',
'http://localhost:4200/assets/images/bmp1.BMP',
'http://localhost:4200/assets/images/bmp2.BMP',
'http://localhost:4200/assets/images/png1.png',
'http://localhost:4200/assets/images/png2.png',
'http://localhost:4200/assets/images/TIFF_1.tiff',
'http://localhost:4200/assets/images/TIFF_2.tiff'


]"
 [idContainer]="'idOnHTML'"
 [download]="true"
 [downloadTooltipLabel]="'Download'"
 [defaultDownloadName] ="'image'"
 [showPDFOnlyOption]="false"
    [loadOnInit]="true"></app-image-viewer>