
<p>text-editor works!</p>
<input type="file" (change)="onChange($event.target.files)">

<!-- <div>
    <h3>File Content</h3>
    <pre> {{fileContent}} </pre>
</div> -->

<html lang="en">
<body>
  <!-- <ckeditor [editor]="Editor" (ready)="onReady($event)" [config]="editorConfig"  data="<p>Hello, world!</p>"></ckeditor> -->
  <!-- [editor]="Editor" -->
  <ckeditor [editor]="Editor" (ready)="onReady($event)"  [(ngModel)]="fileContent"></ckeditor>
  <!-- <script>
    CKEDITOR.replace('editor1', {
      height: 400,
       baseFloatZIndex: 9000
    });
  </script> -->
</body>

</html>